{{>header}}
{{>navbar}}

<main>
    <div class="container">
        <table class="striped">
            <thead>
                <tr>
                    <th>Account ID</th>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Balance</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>no accounts to show</td>
                </tr>
                <tr>
                    <td>1213</td>
                    <td>Ahmed</td>
                    <td>Test@test.com</td>
                    <td>12121</td>
                    <td>
                        <a href=""class="waves-effect waves-light orange darken-2 btn-small">suspend</a>
                        <a class="waves-effect waves-light green lighten-2 btn-small">deposit</a>
                        <a class="waves-effect waves-light light-blue lighten-2 btn-small">withdraw</a>
                        <a class="waves-effect waves-light pink lighten-2 btn-small">edit</a>
                        <a class="waves-effect waves-light red darken-2 btn-small">delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>

{{>footer}}